body {
    display: grid;
    grid-template-columns: 1fr 3fr;  
    grid-gap: 10px;
    text-align: center;
    background-color: black;
    color: #E2DFD2;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

.me {
    margin-top: 5%;
    max-height: 350px;
}

.setup {
    max-height: 450px;
}

.main-page {
    width: 80%;
    margin: 0 auto;
    font-size: 1.5em;
}

nav {
    margin: 5% 0px;
}

ul {
    padding: 0;
    font-size: 1.5em;
}

ul {
    list-style: none;
    line-height: 2;
}

aside {
    display: grid;
    
}

main {
    display: grid;
    
}

a {
    text-decoration: none;
    color: #C3073F;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 2%;
    padding: 2%;
}

div img {
    height: 100%;
    width: 100%;
    max-height: 450px;
}

@media screen and (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }

    
}

@media screen and (max-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr;
    }
    div img {
        height: auto;
    }
}